* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  color: #283C52;
  overflow-x: hidden;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .d-flex {
  height: 6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  font-size: 2rem;
  font-weight: 500;
  position: relative;
}

.nav__logo .trademark {
  display: inline-block;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  position: absolute;
  left: 94px;
  top: -5px;
}

.nav__list__item {
  margin-left: 2.5rem;
  font-size: 1.1rem;
}

.logo__link,
.nav__link {
  text-decoration: none;
  color: #283C52;
}

.logo__link:hover,
.nav__link:hover {
  color: #219A9C;
}

.menu__toggler {
  display: none;
}

.menu__toggler__icon {
  display: none;
}

.hero {
  height: 80vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1;
      grid-template-rows: 1;
      grid-template-areas: 'text img';
}

.hero__copy {
  grid-area: 'text';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 4rem;
}

.hero__heading {
  font-size: 3rem;
  font-weight: 300;
  padding-bottom: 3rem;
}

.hero__subheading__text {
  font-size: 1.3rem;
  padding-bottom: 5rem;
}

.btn {
  background-color: #219A9C;
  color: white;
  font-size: .9rem;
  display: inline-block;
  width: 10rem;
  padding: 15px 20px;
  border: none;
}

.btn:hover {
  background-color: #25afb1;
}

.hero__img {
  margin-top: 2rem;
  grid-area: 'img';
  background: url(../img/hero.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 790px) {
  .nav {
    position: relative;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .nav__list {
    width: 100%;
    height: 100vh;
    background-color: #E9EAF1;
    position: absolute;
    left: 0%;
    top: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform .5s ease-in;
    transition: -webkit-transform .5s ease-in;
    transition: transform .5s ease-in;
    transition: transform .5s ease-in, -webkit-transform .5s ease-in;
    z-index: 250;
  }
  .nav__list .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 100vh;
  }
  .nav__list__item {
    margin-left: 0;
  }
  .nav__list__item .nav__link {
    color: #283C52;
    font-size: 1.3rem;
  }
  .menu__toggler {
    position: relative;
    display: block;
    cursor: pointer;
    height: 2rem;
    width: 2rem;
    z-index: 300;
  }
  .menu__toggler .menu__toggler__icon {
    display: block;
    height: 2px;
    width: 2rem;
    background-color: #283C52;
    position: relative;
    top: 10px;
    z-index: 350;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: background-color .4s ease-out;
    transition: background-color .4s ease-out;
  }
  .menu__toggler .menu__toggler__icon::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    height: 2px;
    width: 2rem;
    background-color: #283C52;
    border-radius: 5px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
  .menu__toggler .menu__toggler__icon::after {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    height: 2px;
    width: 2rem;
    background-color: #283C52;
    border-radius: 5px;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
  }
  .open {
    -webkit-transform: translateX(0) !important;
            transform: translateX(0) !important;
    overflow-y: hidden;
  }
  .nav__list.open + .menu__toggler > .menu__toggler__icon {
    background-color: #E9EAF1;
    -webkit-transition: background-color .1s ease-in-out;
    transition: background-color .1s ease-in-out;
  }
  .nav__list.open + .menu__toggler > .menu__toggler__icon::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .nav__list.open + .menu__toggler > .menu__toggler__icon::after {
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg);
    position: absolute;
    top: 8px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .hero {
    height: 150vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 15% auto auto;
        grid-template-rows: 15% auto auto;
        grid-template-areas: 'heading' 'img' 'subheading';
  }
  .hero__copy {
    padding-top: 0;
    height: 100vh;
  }
  .hero__heading {
        grid-template-areas: heading;
    font-size: 2.3rem;
  }
  .hero__subheading {
        grid-template-areas: subheading;
    -webkit-transform: translateY(550px);
            transform: translateY(550px);
  }
  .hero__subheading .hero__subheading__text {
    padding-bottom: 2rem;
  }
  .hero__img {
        grid-template-areas: img;
    padding-bottom: 3rem;
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */