//Basic styles 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Variables

$dark-blue: #283C52;
$green: #219A9C;
$light-gray: #E9EAF1;


body {
    font-family: 'Raleway', sans-serif; //300, 400, 500
    font-size: 10px;
    color: $dark-blue;
    overflow-x: hidden;
}

li {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.d-flex {
    display: flex;
}

//N A V B A R 

.nav {
    .d-flex {
        height: 6rem;
        justify-content: space-between;
        align-items: center;        
    }
}

.nav__logo {
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    .trademark {
        display: inline-block;
        transform: scale(.6);
        position: absolute;
        left: 6rem;
        top: -.2rem;
    }
}


.nav__list__item{
    margin-left: 2.5rem;
    font-size: 1.1rem;
}

.logo__link,
.nav__link {
    text-decoration: none;
    color: $dark-blue;
    &:hover {
        color: $green;
    }
}

.menu__toggler {
    display: none;
}

.menu__toggler__icon {
    display: none;
}

//H E R O 

.hero {
    height: 100vh;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
    grid-template-areas:
    'text img';
}

.hero__copy {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 4rem;
    max-width: 400px;

}

.hero__heading {
    font-size: 3rem;
    font-weight: 300;
    padding-bottom: 3rem;
    span {
        display: block;
    }
}

.hero__subheading__text {
    font-size: 1.3rem;
    padding-bottom: 5rem;
}


.btn {
    background-color: $green;
    color: white;
    font-size: .9rem;
    display: inline-block;
    width: 10rem;
    padding: 1rem 1.5rem;
    border: none;
    &:hover {
        background-color: lighten($color: $green, $amount: 5);
    }
}


.hero__img {
    grid-area: img;
    width: 100%;
    height: auto;
}


@media screen and (max-width: 790px) {

 //Navbar

    .nav {
        position: relative;
        left: 0;
        top: 0;
        z-index: 1;
    }


    .nav__list {
        width: 100%;
        height: 100vh;
        background-color:$light-gray;
        position: absolute;
        left: 0%;
        top: 0;
        transform: translateX(-100%);
        transition: transform .5s ease-in;
        z-index: 250;

        .d-flex {
            flex-direction: column;
            justify-content: space-evenly;
            height: 100vh;
        }
    }

    .nav__list__item {
        margin-left: 0;
        .nav__link {
            color: $dark-blue;
            font-size: 1.3rem;
        }
    }


    .menu__toggler {
        position: relative;
        display: block;
        cursor: pointer;
        height: 2rem;
        width: 2rem;   
        z-index: 300;
    }

    .menu__toggler  .menu__toggler__icon {
        display: block;
        height: 2px;
        width: 2rem;
        background-color: $dark-blue;
        position: relative;
        top: 1rem;
        z-index: 350;
        border: none;
        cursor: pointer;
        transition: background-color .4s ease-out;

        &::before  {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            height: 2px;
            width: 2rem;
            background-color: $dark-blue;
            transition: all .4s ease-out;
        }

        &::after {
            content: '';
            position: absolute;
            top: -8px;
            left: 0;
            height: 2px;
            width: 2rem;
            background-color: $dark-blue;
            transition: all .4s ease-out;
        }
    }
   
    .open {
        transform: translateX(0)!important;
        overflow-y: hidden;
    }

    .nav__list.open + .menu__toggler > .menu__toggler__icon {
        background-color: $light-gray;
        transition: background-color .1s ease-in-out;

        &::before  {
            transform: rotate(45deg);
            transition: all .4s ease-in-out;

        }

        &::after  {
            transform: rotate(-43deg);
            position: absolute;
            top: 8px;
            transition: all .4s ease-in-out;

        }
    }

//Hero 

    .hero {
        height: 130vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
        'heading'
        'img'
        'subheading';
    }

    .hero__copy {
        display: contents;
        padding-top: 0;
    }

    .hero__heading {
        grid-area: heading;
        font-size: 2.5rem;
        max-width: 300px;
        padding: 2rem 0;
    }

    .hero__subheading {
        grid-area: subheading;
    }

    .hero__subheading__text { 
        padding-bottom: 2rem;
        margin-top: 6rem;
    }

    .hero__img {
        grid-area: img;
    }


}




